@import 'variables';

.chart-widget {
  min-width: 470px;
  max-height: 300px;
  margin: 10px;
  border-radius: 6px;
  user-select: none;
  box-shadow: 2px 2px 2px #e3e3e3;
  background-color:white;

  .chart-widget-header {
    text-align: left;
    padding-left: 0.7em;
    padding-right: 0.2em;
    min-height: 50px;
    border-bottom: 1px solid $border-color;

    span {
      color: $text-color-light;
      font-size: 14px;
    }

    h5 {
      font-size: 17px;
    }

    .dropdown-toggle {
      color: $text-color-light;
      cursor: pointer;
      font-size: 15px;

      .dropdown-item {
        &:active {
          background-color: $color-primary;
        }
      }
    }

    .chart-widget-option-button {
      cursor: pointer;
      height: 30px;
      width: 30px;
      background-image: url("../img/settings_normal.svg");

      &:active {
        background-image: url("../img/settings_selected.svg");                  
      }
    }

  }

  .chart-widget-legend-item {
    padding-right: 15px;
  }

  .chart-widget-avatar-ticks {
    margin-left: 50px;
    margin-top: -6px;
  }

  .chart-widget-options-form {
    height: 300px;
    label {
      font-size: 12px;
      font-weight: 500;
      color: $text-color-light;
    }
    
    .form-control {
      max-height: 30px;
      padding: 0px;
      font-size: 14px;
    }

    .chart-widget-button-cancel {
      background-image: url("../img/cancel-btn-default.svg");
      background-repeat: no-repeat;
      width:80px;
      height:32px;
      cursor: pointer;

      &:hover {
        background-image: url("../img/cancel-btn-hover.svg");        
      }

      &:active {
        background-image: url("../img/cancel-btn-selected.svg");        
      }
    }

    .chart-widget-button-save {
      background-image: url("../img/save-btn-default.svg");
      background-repeat: no-repeat;
      width:80px;
      height:32px;
      margin-left: 0px;      
      cursor: pointer;

      &:hover {
        background-image: url("../img/save-btn-hover.svg");        
      }

      &:active {
        background-image: url("../img/save-btn-selected.svg");        
      }
    }
  }

  .chart-widget-footer {
    height: 30px;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-top: 1px solid $border-color;
    span {
      color: $text-color-light;
      font-size: 14px;
      cursor: pointer;
    }
  }
}