body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #213753; }

.chart-widget {
  min-width: 470px;
  max-height: 300px;
  margin: 10px;
  border-radius: 6px;
  user-select: none;
  box-shadow: 2px 2px 2px #e3e3e3;
  background-color: white; }
  .chart-widget .chart-widget-header {
    text-align: left;
    padding-left: 0.7em;
    padding-right: 0.2em;
    min-height: 50px;
    border-bottom: 1px solid #dbe0e8; }
    .chart-widget .chart-widget-header span {
      color: #758f9f;
      font-size: 14px; }
    .chart-widget .chart-widget-header h5 {
      font-size: 17px; }
    .chart-widget .chart-widget-header .dropdown-toggle {
      color: #758f9f;
      cursor: pointer;
      font-size: 15px; }
      .chart-widget .chart-widget-header .dropdown-toggle .dropdown-item:active {
        background-color: #213753; }
    .chart-widget .chart-widget-header .chart-widget-option-button {
      cursor: pointer;
      height: 30px;
      width: 30px;
      background-image: url("../img/settings_normal.svg"); }
      .chart-widget .chart-widget-header .chart-widget-option-button:active {
        background-image: url("../img/settings_selected.svg"); }
  .chart-widget .chart-widget-legend-item {
    padding-right: 15px; }
  .chart-widget .chart-widget-avatar-ticks {
    margin-left: 50px;
    margin-top: -6px; }
  .chart-widget .chart-widget-options-form {
    height: 300px; }
    .chart-widget .chart-widget-options-form label {
      font-size: 12px;
      font-weight: 500;
      color: #758f9f; }
    .chart-widget .chart-widget-options-form .form-control {
      max-height: 30px;
      padding: 0px;
      font-size: 14px; }
    .chart-widget .chart-widget-options-form .chart-widget-button-cancel {
      background-image: url("../img/cancel-btn-default.svg");
      background-repeat: no-repeat;
      width: 80px;
      height: 32px;
      cursor: pointer; }
      .chart-widget .chart-widget-options-form .chart-widget-button-cancel:hover {
        background-image: url("../img/cancel-btn-hover.svg"); }
      .chart-widget .chart-widget-options-form .chart-widget-button-cancel:active {
        background-image: url("../img/cancel-btn-selected.svg"); }
    .chart-widget .chart-widget-options-form .chart-widget-button-save {
      background-image: url("../img/save-btn-default.svg");
      background-repeat: no-repeat;
      width: 80px;
      height: 32px;
      margin-left: 10px;
      cursor: pointer; }
      .chart-widget .chart-widget-options-form .chart-widget-button-save:hover {
        background-image: url("../img/save-btn-hover.svg"); }
      .chart-widget .chart-widget-options-form .chart-widget-button-save:active {
        background-image: url("../img/save-btn-selected.svg"); }
  .chart-widget .chart-widget-footer {
    height: 30px;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-top: 1px solid #dbe0e8; }
    .chart-widget .chart-widget-footer span {
      color: #758f9f;
      font-size: 14px;
      cursor: pointer; }
